<section class="resume-section p-3 p-lg-5 d-flex" id="CadCli">
        <div class="w-100">
          <h2 class="mb-5">Cliente</h2>       
          <div class="subheading mb-5">
          </div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputNome">Nome</label>
                <input type="text" class="form-control" placeholder="Nome" name="inputNome" title="Nome Completo" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputCpf">CPF</label>
                <input type="text" class="form-control" id="inputCpf" title="Ex.: 000.000.000-00" placeholder="CPF" name="inputCpf" onkeypress=" return form_key(event,'#cadastra_cliente')">
                <span id="errorcpf">CPF Inválido</span>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-9">
                <label for="inputAddress">Endereço</label>
                <input type="text" class="form-control" id="endereco2" title="Endereço + Nº" placeholder="Endereço" name="inputAddress" pattern="[a-zA-Z0-9]+">
              </div>
              <div class="form-group col-md-3">
                <label for="inputAddress">Celular + DDD</label>
                <input type="text" class="form-control" id="tel" title="Celular + DDD" placeholder="Ex.: (00) 00000-0000" name="inputAddress" pattern="^\d{2}\d{5}\d{4}$" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Cidade</label>
                <input type="text" class="form-control" id="inputCity2" placeholder="Cidade" name="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputEstado">Estado</label>
                <select id="inputEstado2" class="form-control">
                  <option selected>Escolher...</option>
                  <option>SP</option>
                  <option>RJ</option>
                  <option>SC</option>
                  <option>MG</option>
                  <option>BA</option>
                  <option>MT</option>
                  <option>CE</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputCEP">CEP</label>
                <input type="text" class="form-control" id="inputCEP" placeholder="Ex.: 00000-000" name="inputCEP" pattern="^\d{5}\d{3}$" onkeypress=" return form_key(event,'#cadastra_cliente')">
              </div>
            </div>
        
            <hr>
            <div id="app">
            <input type="checkbox" v-model="car">Add Carro
            <br>
            <br>
           

            <footer v-show="car" v-if='car' >
                
                <div class="form-group col-md-6">    
                  <label for="inputModelo">Modelo</label>
                  <input  type="text" class="form-control" name="ModCarro" id="ModCarro" placeholder="Modelo" style="margin-bottom: 10px;" required>
                </div>
                <div class="form-group col-md-3">
                  <label for="inputPlaca">Placa</label>
                  <input  type="text" class="form-control" name="PlacaCarro" id="PlacaCarro" placeholder="Placa" style="margin-bottom: 10px;" required>
                </div>   
            </footer>
            </4rfdiv>
            <br>
              <div style="text-align: right;">
                <button type="reset" id="reseta_dados" class="btn btn-dark" style="margin-right: 7px;px;">Cancelar</button>
                <button type="submit" id="cadastra_cliente" class="btn btn-dark">Cadastrar</button>
              </div>
            </form> 
         
        </div>
      </section>              
      <hr class="m-0">