<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Relatorio">

  <div class="w-100">

    <h2 class="mb-5">Relatório</h2>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Cliente</label>
        <input type="text" class="form-control " placeholder="Nome" title="Nome do Cliente" required>
      </div>
      <div class="form-group col-md-4">
        <label>Status</label>
        <select class="form-control" id="status">
          <option>Status...</option>
          <option>Pendente</option>
          <option>Em Andamento</option>
          <option>Finalizado</option>
          <option>Cancelado</option>
        </select>
      </div>
      <div class="form-group col-md-4">
        <label>Tipo do Serviço</label>
        <select class="form-control" id="tipoServico">
          <option>Serviço...</option>
          <option>Conserto</option>
          <option>Upgrade</option>
          <option>Funilaria</option>
        </select>
      </div>
    </div>
    <div style="margin-top: 30px;">
      <div style="text-align: right;">
        <button type="reset" id="reseta_dados" class="btn btn-outline-dark" style="margin-right: 7px;">Cancelar</button>
        <button type="subimt" class="btn btn-dark">Pesquisar</button>
      </div>
    </div>
    <!--<div class="col-md-12" style="padding-left: 0px;">
      <div class="col-md-12" style="background: black; height: 33px; font-size: 20px; color: white; margin-top: 22px;">Relatório
      <i class="fas fa-book" style="float: right;padding-top: 0px;margin-top: 10px;"></i>
      </div> 
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th> 
              <th scope="col">Cliente</th> 
              <th scope="col">servico</th> 
              <th scope="col">Preco</th>
          </tr>
        </thead> 
        <tbody>
          <tr>
            <th scope="row">1</th> 
            <td>1</td> 
            <td>Otto</td>
            <td>@corcerto</td>
            <td>R$2000</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1</td> 
            <td>Otto</td>
            <td>@corcerto</td>
            <td>R$2000</td>
          </tr>
          <tr>
            <th scope="row">1</th> 
            <td>1</td> 
            <td>Otto</td>
            <td>@corcerto</td> 
            <td>R$2000</td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Otto</td>
            <td>@corcerto</td>
            <td>R$2000</td>
          </tr>                  
          <tr>
            <th scope="row">1</th>
            <td>1</td> 
            <td>Otto</td> 
            <td>@corcerto</td> 
            <td>R$2000</td>
            </tr> 
          <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Otto</td>
            <td>@corcerto</td>
            <td>R$2000</td>
          </tr> 
          <tr>
            <th scope="row">1</th>
            <td>1</td> 
            <td>Otto</td> 
            <td>@corcerto</td> 
            <td>R$2000</td>
          </tr>
        </tbody>
      </table>
    </div> -->
   
  </section>
<hr class="m-0">