<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Orcamento">
        <div class="w-100">
          <h2 class="mb-5">Orçamento </h2>
          <div id="form_table">
          <div class="form-row" v-for="(input, index) in dados">
              <div class="form-group col-md-6">
                <label>Descrição da peça:</label>
                <input type="text" class="form-control"  placeholder="Digite os dados da peça" name="DescricaoPeca" v-model="input.primeiro">
              </div>
              <div class="form-group col-md-6">
                <label>Quant.ValorUnit(R$)</label><br>
                <button>+</button>
                <input type="text" class="campo1" style="width:50px" v-model="input.segundo" />
                <button>-</button>
                <input type="text" class="campo1" style="width:50px" v-model="input.terceiro"/>

                <input type="text" class="campo1" style="width:50px" v-model="input.quarto" />              

                <input type="text" class="campo1" style="width:50px" v-model="input.quinto" />

              </div>
            </div>
            
            <hr>
            <br>
            <br>
            <button @click='add_linha'>+</button>
            <button @click ='excluir_linha(index)'>-</button>
            </div>
              <div style="float: right">
              <label>Quant</label>
                <input type="text" class="campo1" style="width:50px" />
              <label>R$</label> 
                <input type="text" class="campo1" style="width:50px"/>
            </div>
            <hr>

            <label>Quant.ValorUnit(R$)</label><br>
               
            <button type="submit" style="float: right" >Cancelar</button> 
            <button type="submit" style="float: right" >Salvar</button>
          </form>

      </section>