<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Relatorio">
        <div class="w-100">
          <h2 class="mb-5">Relatorio</h2>
              
          
                 <div class="row" style="margin-bottom: 10px">
    <div class="col-md-4">
      <label>Cliente:</label>
      <input type="text" class="form-control " placeholder="Cliente">
    </div>
    <div class="col-md-4">
      <label>Status:</label>
        <select class="form-control" id="status">
          <option>Status</option>
      <option>Finalizado</option>
      <option>Pendente</option>
      <option>Pago</option>
    </select>
    </div>
  </div>
         <div class="row">
    <div class="col">
      <label>Pedido:</label>
      <input type="text" class="form-control" placeholder="Pedido">
    </div>
    <div class="col">
      <label>Data:</label>
      <input type="text" class="form-control" placeholder="Data" id='data'>
    </div>
    <div class="col">
 <button type="button" class="btn btn-secondary " style="color: white">Pesquisar</button>
    </div>
  </div>
               <div class="col-md-12" style="
    padding-left: 0px;
"><div class="col-md-12" style="background: black; height: 33px; font-size: 20px; color: white; margin-top: 22px;">Relatorio
<i class="fas fa-book" style="float: right;padding-top: 0px;margin-top: 10px;"></i>
</div> 
<table class="table">
    <thead class="thead-dark">
        <tr><th scope="col">#</th>
             <th scope="col">ID</th> 
             <th scope="col">Cliente</th> 
             <th scope="col">servico</th> 
             <th scope="col">Preco</th>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <th scope="row">1</th> 
                <td>1</td> 
                <td>Otto</td>
                 <td>@corcerto</td>
                  <td>R$2000</td>
                </tr>
                 <tr>
                     <th scope="row">1</th>
                      <td>1</td> 
                      <td>Otto</td>
                       <td>@corcerto</td>
                        <td>R$2000</td>
                    </tr>
                     <tr>
                         <th scope="row">1</th> 
                         <td>1</td> 
                         <td>Otto</td>
                          <td>@corcerto</td> 
                          <td>R$2000</td>
                        </tr>
                         <tr>
                             <th scope="row">1</th>
                             <td>1</td>
                              <td>Otto</td>
                               <td>@corcerto</td>
                                <td>R$2000</td>
                            </tr> 
                            
                            <tr>
                                <th scope="row">1</th>
                                 <td>1</td> 
                                 <td>Otto</td> 
                                 <td>@corcerto</td> 
                                 <td>R$2000</td>
                                </tr> 
                                <tr>
                                    <th scope="row">1</th>
                                     <td>1</td>
                                      <td>Otto</td>
                                       <td>@corcerto</td>
                                        <td>R$2000</td>
                                    </tr> 
                                    <tr>
                                        <th scope="row">1</th>
                                         <td>1</td> 
                                         <td>Otto</td> 
                                         <td>@corcerto</td> 
                                         <td>R$2000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
   
      </section>


      <hr class="m-0">